h2 {
    text-align: center
}
h2.wersja {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-size: 54px;
}
h2.cennik {
    z-index: 1;
    float: left;
    font-size: 55px;
}
img.cennik {
    float: left;
    z-index: 2;
}
h5 {
    width: 175px;
    height: 60px;
    text-transform: inherit;
    background-image: linear-gradient(90deg, #e1beff, #28baf0);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #ffffff
}
h1 {
    text-align: center;
    font-size: 45px;
    height: 45px;
}
h3 {
    position: relative;
    text-align: center;
    font-size: 16px;
    color: black;
}
section.layout_padding {
    position: relative;
    align-items: center;
    margin-bottom: 15px;
}
ul.cennik {
    height: 250px;
    padding-top: 5px;
    border-top: 1px solid #c1c1c1;
    list-style-type: none;
}
a.bt_main {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 60;
    height: 30px;
    background-image: linear-gradient(90deg, #e1beff, #28baf0);
    padding: 0 35px;
    text-decoration: none;
    outline: none;
    color: white;
}
.table_price_bottm {
    text-align: center
}
.table_price_cont_bottm {
    text-align: center
}
li {
    list-style-type: none;
}
li.oferta {
    font-size: 14px;
}
.slide_cont {
    position: relative;
    z-index: -1;
}
p.cennik_cont {
    color: white;
    position:absolute;
    z-index:0;
    top:0px;
    left:0px;
}